@import url("https://fonts.googleapis.com/css?family=Lato:700|Noticia+Text:400i&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #429752;
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.desktop-card-wrapper {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 70vh;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #f3f1fe;
  -webkit-perspective: 500px;
  perspective: 500px;
}
.desktop-card-wrapper article {
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: white;
  line-height: 2;
  border-radius: 10px;
  margin: 0.5rem;
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: -webkit-transform 0.2s ease-out;
  -o-transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
  -webkit-box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.1);
}
.desktop-card-wrapper article figure {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-top: -60px;
  position: relative;
}
.desktop-card-wrapper article figure:before {
  content: "";
  border-radius: inherit;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 1rem solid #f3f1fe;
  -webkit-box-shadow: 0 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px rgba(0, 0, 0, 0.1);
}
.desktop-card-wrapper article figure img {
  border-radius: inherit;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.desktop-card-wrapper article div {
  /* center the text in the div container */
  text-align: center;
  margin: 2rem;
}
.desktop-card-wrapper article div p {
  color: #6f6d78;
  font-weight: 400;
  font-style: italic;
  margin: 1rem 0 3rem;
  font-family: "Noticia Text", serif;
  position: relative;
  z-index: 5;
}
.desktop-card-wrapper article div p:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: -5;
  opacity: 0.05;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 70 70" width="70" height="70"><rect x="0" y="40" width="30" height="30"></rect><path d="M 0 40 q 0 -40 30 -40 v 15 q -15 0 -15 25"></path><rect x="40" y="40" width="30" height="30"></rect><path d="M 40 40 q 0 -40 30 -40 v 15 q -15 0 -15 25"></path></svg>'), url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 70 70" width="70" height="70" transform="rotate(180)"><rect x="0" y="40" width="30" height="30"></rect><path d="M 0 40 q 0 -40 30 -40 v 15 q -15 0 -15 25"></path><rect x="40" y="40" width="30" height="30"></rect><path d="M 40 40 q 0 -40 30 -40 v 15 q -15 0 -15 25"></path></svg>');
  background-position: 20% 20%, 80% 80%;
  background-repeat: no-repeat;
}
.desktop-card-wrapper article div h1 {
  color: #8a8792;
  font-family: "Lato", sans-serif;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

.mobile-card .card {
  background-color: white;
  color: #272727;
  padding: 20px;
  border-radius: 10px;
  border: 0px;
  border-color: tomato;
  border-style: solid;
  -webkit-transition: 200ms;
  -o-transition: 200ms;
  transition: 200ms;
  max-width: 380px;
}
.mobile-card .card:hover {
  -webkit-transition: 200ms;
  -o-transition: 200ms;
  transition: 200ms;
  border: 3px;
  border-color: tomato;
  border-style: solid;
}
.mobile-card .card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.mobile-card .profile {
  width: 2.5rem;
  height: 2.5rem;
  background-color: tomato;
  border-radius: 50%;
  margin: 10px;
  font-size: 20pt;
  text-align: center;
  font-weight: bold;
  color: white;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.mobile-card .letter {
  vertical-align: middle;
}
.mobile-card .card-title-group {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.mobile-card .card-title {
  -webkit-box-flex: 0.5;
  -ms-flex: 0.5;
  flex: 0.5;
  font-size: large;
  margin-bottom: 0;
  margin-top: 0;
}
.mobile-card .card-date {
  -webkit-box-flex: 0.3;
  -ms-flex: 0.3;
  flex: 0.3;
  font-size: small;
  margin-top: 0;
}
.mobile-card .card-image {
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  max-width: 100%;
  height: auto;
}
.mobile-card .card-like-icon {
  height: 25px;
}
.mobile-card .card-text {
  width: 350px;
  font-size: medium;
}
.mobile-card .card-like-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 20px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.mobile-card .like-text {
  font-size: small;
  margin-left: 10px;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #080202;
  height: 4rem;
  margin: 0;
  padding: 0;
  color: aliceblue;
  list-style: none;
  width: 100%;
}
.navbar li {
  padding: 1.5rem 1rem;
  width: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.navbar li a {
  font-size: 1.2rem;
  font-weight: 600;
}

.user-cards-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  width: 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.user-cards-wrapper.mobile {
  background-color: #b1a1a1;
}
.user-cards-wrapper.mobile .user-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100px;
  min-width: 100px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 1rem;
}
.user-cards-wrapper.mobile .user-card .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-transform: capitalize;
  border: 2px dashed #064614;
  background-color: #99bed3;
  border-radius: 20px;
  padding: 0.5rem;
}
.user-cards-wrapper.mobile .user-card .inner img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}
.user-cards-wrapper.desktop {
  background-color: #83d494;
}
.user-cards-wrapper.desktop .user-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100px;
  min-width: 100px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 1rem;
}
.user-cards-wrapper.desktop .user-card .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-transform: capitalize;
  border: 2px dashed #0d160f;
  background-color: #59b9f0;
  padding: 0.5rem;
}
.user-cards-wrapper.desktop .user-card .inner img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.users-outer {
  position: relative;
  width: 100%;
  margin-bottom: 60px;
}

.pagination {
  height: 50px;
  width: 100%;
  background-color: #0d160f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
}
.pagination button {
  height: 30px;
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #bd3a3a;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: #ece6e6;
  cursor: pointer;
}
.pagination button:disabled {
  background-color: #666666;
  cursor: not-allowed;
  color: black;
}
.pagination span {
  width: 80px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: white;
}

.bg-cover {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background-color: #080202;
  opacity: 0.7;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.modal-wrapper .modal-inner {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  left: 0%;
  width: 90%;
  top: 20vh;
  background-color: #e9e9e9;
  opacity: 0.9;
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-transform: translate(5%, 0%);
  -ms-transform: translate(5%, 0%);
  transform: translate(5%, 0%);
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow-y: scroll;
  border-radius: 20px;
  padding: 10rem 2rem 2rem;
  -webkit-animation: mymove 1s linear;
  animation: mymove 1s linear;
}
.modal-wrapper .modal-inner h2 {
  font-size: 2rem;
  padding: 4rem 0;
  margin-bottom: -3rem;
  margin-top: 8rem;
}
.modal-wrapper .modal-inner p {
  line-height: 1.7;
}
.modal-wrapper .modal-inner button {
  padding: 1rem 4rem;
  border-radius: 20px;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
}
.modal-wrapper .modal-inner button:hover {
  background-color: #080202;
  color: white;
}
@media (max-width: 700px) {
  .modal-wrapper .modal-inner h2 {
    margin-top: 75rem;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .modal-wrapper .modal-inner p {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
}

.modal-wrapper.hidden {
  display: none;
}

.position-button {
  position: fixed;
  z-index: 2222;
  top: 0.6rem;
  right: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  width: 80px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  background: #c4dbeb;
  background: -o-linear-gradient(273deg, #c4dbeb 0%, #23cb1b 100%);
  background: linear-gradient(177deg, #c4dbeb 0%, #23cb1b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c4dbeb",endColorstr="#23cb1b",GradientType=1);
  color: white;
}

#bottom-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ece6e6;
  margin-top: 2000px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 2rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@-webkit-keyframes mymove {
  0% {
    top: 100vh;
  }
  100% {
    top: 20vh;
  }
}
@keyframes mymove {
  0% {
    top: 100vh;
  }
  100% {
    top: 20vh;
  }
}

/*# sourceMappingURL=output.css.map */
